<div class="main">
	<h1>Halo Streamers</h1>
	<h2>What is it?</h2>
	<p>
		This is a little sinatra project made for my good friend <a href="http://twitch.tv/awildeone">Andrew "aWildeOne" Wilde</a> to use on Twitch.tv as a custom handler for <a href="http://www.nightbot.tv">NightBot</a>
	</p>
	<p>
		It currently displays the live runners from <a href="http://haloruns.com/runners">HaloRuns.com</a>'s streamer page and outputs a nice little formatted text listing online streamers.
	</p>
	<h2>How do I use it?</h2>
	<p>
		Just point your NightBot at <tt>/halostreamers/streams</tt>
	</p>
	<h2>How fast is it</h2>
	<p>
		To prevent spamming Twitch's servers, the streamer online test is cached for 5 minutes. Since the data on haloruns hardly ever changes, it's cached for an hour. Therefore changes might not be immediate.
	</p>
	<h2>Project Information</h2>
	<p>
		This is a <a href="http://speedruntools.com">SpeedRunTools</a> project. We make cool tools for speedrunners. Drop by #srt on SRL's IRC or check out our Trello to see what projects we are working on.
	</p>
	<p>
		The project itself was done by <a href="https://www.twitter.com/_ubercow">Ubercow</a> and is Open Source! Check out the code on <a href="https://github.com/ubercow/halostreamers">GitHub</a>.
	</p>
</div>