<div class="main">
	<h1>Halo Streamers</h1>
	<h2>What is it?</h2>
	<p>
		This is a little sinatra project made for my good friend <a href="http://twitch.tv/awildeone">Andrew "aWildeOne" Wilde</a> to use on Twitch.tv as a custom handler for <a href="http://www.nightbot.tv">NightBot</a>
	</p>
	<p>
		It currently displays the live runners from <a href="http://haloruns.com/runners">HaloRuns.com</a>'s streamer page and outputs a nice little formatted text listing online streamers.
		By default, it will only show games with Halo in the title. If this is not desired, check out the parameters section.
	</p>
	<h2>How do I use it?</h2>
	<p>
		Simply add this as the response of your NightBot command: <tt>The Live Halo Runners are $(customapi http://tools.ubercow.net/halostreamers/streams)</tt>
	</p>
	<h2>How fast is it</h2>
	<p>
		To prevent spamming Twitch's servers, the streamer online test is cached for 5 minutes. Since the data on haloruns hardly ever changes, it's cached for an hour. Therefore changes might not be immediate.
	</p>
	<h2>Parameters</h2>
	<p>You can tweak a few things for the response you get.</p>
	<p>By default, the script lists everyone. If you want less, you can use the parameter <tt>top</tt>. For example <tt>http://tools.ubercow.net/halostreamers/streams?top=5</tt></p>
	<p>By default, the list only shows Halo games, if you want to show all games, pass <tt>nofilter=true</tt>. For example <tt>http://tools.ubercow.net/halostreamers/streams?nofilter=true</tt></p>
	<p>If you want viewer counts in your output pass <tt>viewers=true</tt>. For example <tt>http://tools.ubercow.net/halostreamers/streams?viewers=true</tt></p>
	<p>By default, the list is sorted lowest view count first, if you want lowest first, pass <tt>sort=desc</tt>. For example <tt>http://tools.ubercow.net/halostreamers/streams?sort=desc</tt></p>
	<p>You can even be SUPER COOL and chain parameters. This one gives you the top 10 unfiltered streams. <tt>http://tools.ubercow.net/halostreamers/streams?nofilter=true&top=10</tt></p>
	<h2>Changelog</h2>
	<p>Feb. 23rd 2014 - Better sanitization of stream urls.</p>
	<p>Feb. 21st 2014 - The script now has filters, examples for how to use parameters, and displays the current game in the output.</p>
	<h2>Project Information</h2>
	<p>
		This is a <a href="http://speedruntools.com">SpeedRunTools</a> project. We make cool tools for speedrunners. Drop by #srt on SRL's IRC or check out our Trello to see what projects we are working on.
	</p>
	<p>
		The project itself was done by <a href="https://www.twitter.com/_ubercow">Ubercow</a> and is Open Source! Check out the code on <a href="https://github.com/ubercow/halostreamers">GitHub</a>.
	</p>

</div>