<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
  	<title>Halo Streamers</title>
	<meta name="description" content="HaloStreamers">
	<meta name="author" content="Ubercow">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/application.css" type="text/css" />
</head>

<body>
	<%= yield %>
</body>
</html>