<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
  	<title>Halo Streamers</title>
	<meta name="description" content="HaloStreamers">
	<meta name="author" content="Ubercow">
</head>

<body>
	<%= yield %>
</body>
</html>